body {
    background-color: rgb(239, 216, 157);
    background-blend-mode: color-burn;
}
h1, h2{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #721817;
}
.center-text {
    text-align: center;
}
#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2 > span {
    color: #fa9f42;
    font-size: 0.75em;
}
#copyright {
    padding-top: 12px;
    font-size: 0.75em;
}
.input div {
    padding-top: 15px;
}